.portfolio{
    background-color:var(--theme2);
    
    > h1{
        font-size: 60px;
        text-align: center;
        padding: 10px 0px;
    }
        > ul{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style-type: none;

            > li{
                color: black;
                margin: 0px 25px;
                padding: 10px 20px;
                border-radius: 10px;
                font-size: 20px;
            }
        }

    > .container{
        margin:30px ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 30px;
        position: relative;
        width: 89%;

        > .item{
            margin: 10px 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 220px;
            border: 2px solid lightgray;
            border-radius: 10px;
            transition: all .5s ease;

            > img{
                width: 100%;
                border-radius: 10px;
            }

            > h3{
                position: absolute;
                font-size: 20px;
            }
        }

        
    }
    
}

.portfolio>ul>li:active{
    background-color: var(--theme1);
    color: white;
}
.item:hover .itemimg {
    opacity: 0.2;
    z-index: 0;
}

.item >img:hover {
    opacity: 0.2;
    z-index: 0;
}
.item:hover{
   background-color: var(--theme1);
   color: white;
   transition: all 0.5 ease;
}

.portfolio>ul>.active{
    color: white;                                     
}

