.resume{
    background-color: var(--theme2);
    display: flex;

    > .leftresume{
       width: 65vw;
       padding: 30px;
    }

    > .leftresume > img{
        width: 56vw;
        height: inherit;
        border: 1px solid black;
        border-radius: 10px;
    }

    > .rightresume{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > .download{
            font-style: italic;
            position: absolute;

            >h2{
                margin-bottom: 30px;
                font-size: 45px;
            }
            > a{
                font-size: 40px;
                text-decoration: none;
                border: 2px solid var(--theme1);
                border-radius: 10px;
                background-color: var(--theme1);
                color: var(--theme2);
                padding: 10px 20px;
                
            }
        }
        
      
       
    }

   
}